<Footer class="text-white overflow-hidden">
    <div class="row py-5">
        <div class="col-md-4 my-3">
            <div class="location d-flex flex-column justify-content-center align-items-center">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
        </div>
        <div class="col-md-4 my-3">
            <div class="around-the-web text-center">
                <h3>AROUND THE WEB</h3>
                <div class="icons-container d-flex justify-content-center align-items-center gap-2">
                    <div class="icon rounded-circle border d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="icon rounded-circle border d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="icon rounded-circle border d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <div class="icon rounded-circle border d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3 text-center">
            <h3>ABOUT FREELANCER</h3>
            <p class="">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
    <div class="copyright text-center py-3">
        <p>Copyright © Your Website 2021</p>
    </div>
</Footer>