<div class="content-container d-flex flex-column justify-content-center align-items-center text-white">
    <app-title lineColor="white" titleName="about component"></app-title>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </div>
        <div class="col-md-4">
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </div>
    </div>
</div>