<div class="contact-container vh-100 p-5 text-center">
    <app-title class="m-5" lineColor="rgb(44, 62, 80)" titleName="contact section"></app-title>
    <div class="container py-5 w-50 d-flex flex-column  gap-3">
        <input type="text" class="form-control border-0 border-bottom py-3" placeholder="userName">
        <input type="text" class="form-control border-0 border-bottom py-3" placeholder="userAge">
        <input type="text" class="form-control border-0 border-bottom py-3" placeholder="userEmail">
        <input type="text" class="form-control border-0 border-bottom py-3" placeholder="userPassword">
        <button type="button" class="btn mt-4 text-white btn-success">Send Message</button>
    </div>
</div>