<div class="gallary-container">
    <div class="container mt-5 p-5">
        <div class="row g-3">
            @for (product of productList; track $index) {
            <div class="col-md-3 mt-5">
                <img [src]="product.pImage" class="w-100" alt="">
                <h5 class="mt-2">Product Name: {{product.pName}}</h5>
                <h5>Product Price: {{product.pPrice}}</h5>
            </div>
            }
        </div>
    </div>
    <h1 #recommended class="text-center bg-danger text-white">Recommended Products</h1>
    @defer (on viewport(recommended)) {

    <app-recommended></app-recommended>
    }
</div>